# docker/nginx/templates/default.conf.template

# external HTTPS-requests to base domain
server {
    server_name localhost;
    listen 8080;
    listen [::]:8080;

    root /var/www/html/public;
    client_max_body_size 50m;
    charset UTF-8;

    index index.html;
    access_log /dev/stdout;

    location /api/ {
        proxy_pass http://localhost:8081/;
    }
}

# default HTTPS-server
server {
    listen      80 default_server;
    listen [::]:80 default_server;

    server_name _;
    return      80;

    access_log /dev/stdout;
}
